<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Coin Alert</title>
  <!-- STYLE  -->
  <link rel="stylesheet" href="../assets/css/popup.css" />
  <!-- UTILS  -->
  <script src="../assets/js/utils/dom.js"></script>
  <script src="../assets/js/utils/transport.js"></script>
  <!-- COMPONENTS -->
  <script src="../assets/js/components/_components.js"></script>
  <script src="../assets/js/components/popup/coins_table.js"></script>
</head>

<body>
  <div id="popup"></div>
  <!-- LOAD AFTER ALL DOM -->
  <script src="../assets/js/components/popup/popup.js"></script>
</body>

</html>